*{
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}
header{
   
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url(images/Banner\ Image.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    width: 75%;
    margin: 120px  auto; 
    height: 580px;  
    border-radius: 12px;
}

.header-text {
   height: 100%;
   text-align: center;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
     
}
.header-text-1{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400; 
    margin-bottom: 8px;
}
.header-text-2{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    width: 632px;
}
.banner1-section{
    height: 100%;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner1-title{
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;  
    margin-bottom: 48px;
}
.banner1-content{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    }
.banner1-descripe{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
.banner1-img{
    margin-bottom: 120px;
}
